@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color-1: hsl(39deg 32% 59%);
    --bg-color-2: hsl(336deg 77% 24%);
    --font-color-1: hsl(19deg 25% 22%);
    --shadow-color: hsl(0deg 0% 82%);
    --font-color-2: hsl(332deg 19% 84%);
    --font-color-3: hsl(332deg 25% 69%);
    --star-color: hsl(35deg 100% 51%);
    --bg-color-3: #b8a074;

}

body {
    overflow-x: hidden;
}

/* || header section */

.horse_intro>p {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    padding: 10px 0px;
    background-color: var(--bg-color-1);
    color: white;
    letter-spacing: 0.2px;
}

.nav_horse_logo img {
    position: absolute;
    z-index: 1;
    left: 40px;
    top: 50px;
}

.nav_0 {
    padding-right: 46px;
}

.nav_0 a {
    font-size: 20px;
    font-weight: 600;
    color: #cec7c7;
    text-decoration: none;
}

.nav_heading {
    margin-left: -72px;
}

.nav_heading h1 {
    color: var(--bg-color-2);
    font-family: initial;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.nav_heading h1+p {
    color: var(--bg-color-2);
}

.nav_search form {
    position: relative;

}

.nav_search input {
    border-radius: 20px;
    height: 38px;
    padding: 5px 0px 8px 14px;
    border-color: hsl(38.5, 60.4%, 55.5%);
    box-shadow: 0 0 3px 1px hsl(0, 5.2%, 73.5%) inset;
    border-width: thin;
    font-size: 18px;
    width: 245px;
}

.nav_search .nav_search_icn {
    position: absolute;
    right: -3px;
    top: -3px;
}

.nav_icon_1 {
    padding: 0 36px;
}

/* || navbar menu */

.navbar_list_0 {
    border-bottom: 2px solid var(--bg-color-2);
    background-color: #ececec;
    height: 57px;
    position: relative;
}

.navbar_list_0 .container-fluid {

    background-color: #ececec;
    z-index: 5;
}

.navbar_list_0 li a {
    color: var(--bg-color-2);
    font-size: 18px;
    letter-spacing: 0.2px;
}

.main_picture img {
    width: 100%;
    height: 40vw;
}

.acustom {
    padding-left: 22px;
    margin-left: 2px;
}



.unrivalled_h3 {
    font-weight: 500;
    color: hsl(12deg 8% 46%);
}

.unrivalled_detailes {
    font-weight: 500;
    color: var(--font-color-1);
}

.Custom {
    margin-left: 10px;
}

.horses {
    border: 1px solid var(--bg-color-1);
    width: 150px;
    padding: 8px;
    height: 180px;
    position: relative;
}

.anew {
    margin-left: 60px;
}

.anew img {
    transition: 1s;
}

.anew img:hover {
    transform: rotate(20deg);
}

.special {
    position: relative;
    margin-left: 32px;

}

.special img {
    transition: 1s;
}

.special img:hover {
    transform: rotate(20deg);

}

.horse_h4 {
    font-weight: 400;
    color: var(--bg-color-2);
    font-size: 20px;
}

.bcd img {
    transition: 1s;
}

.bcd img:hover {
    transform: rotate(-20deg);

}

.sdow {
    height: 13px;
    width: 96px;
    background-color: hsl(0deg 0% 82%);
    border-radius: 50%;
    position: absolute;
    left: 68px;
    bottom: -31px;
    box-shadow: 0 0 10px 11px hsl(0deg 0% 82%);
    transform: rotateX(45deg);
}

.Aspecial {
    position: absolute;
    top: 71px;
    left: 24px;
}

.asd {
    margin-left: 0px;
}

.efg {
    margin-left: -32px;
}

.efg img {
    transition: 1s;
}

.efg img:hover {
    transform: rotate(-20deg);

}

.horse_bg {
    background-image: url(./images/horse.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 525px;
}

.abcd1 {
    padding-top: 75px;
}

.horse_bg_h3 {
    color: var(--font-color-2);
    font-family: 'Times New Roman', Times, serif;

}

.abcd2 {
    margin-top: 38px;
}

.abcd3 {
    margin: 50px;
}



.horse_bg p {
    color: var(--font-color-3);
    font-family: 'Noto Serif NP Hmong', serif;
}



.my_Slider {
    position: relative;
    text-align: center;
}

.my_Slider img {
    width: 100vw;
    height: auto;
}

.my_Slider .star {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 17%;
    left: 50%;
    color: var(--star-color);
}

.slider_contain {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    color: white;
    font-style: italic;
    font-size: 19px;
    width: 100%;

}



.slider_address {

    top: 64%;
    font-style: normal;

}

.slider_button {
    top: 80%;
}

.slider_button button {
    height: 12px;
    width: 12px;
    border-radius: 25%;
    background-color: white;
    border: none;
}



.Featured_Product {
    width: 100%;
    height: 70W;
}

.Featured_Product h2 {
    text-align: center;
    color: var(--bg-color-2);
    padding: 63px 0;
    font-family: serif;
    font-size: 50px;
}

.Featured_Product .arrow {
    color: var(--bg-color-1);
}

.download_brocher {
    padding-top: 65px;
    padding-bottom: 60px;
}

.download_brocher .d_b_inside {
    height: 72px;
    background-color: var(--bg-color-3);
    border-radius: 12px;
    box-shadow: 0 0 0px 1px var(--bg-color-3);
}

.d_b_btn {
    background-color: var(--bg-color-2);
    border-radius: 48%;
    padding: 10px 11px;
    border: none;
}

.d_b_inside p {
    font-size: 24px;
    font-family: initial;
    margin-top: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    padding: 9px 6px 6px 19px;
}

.Horizontal_line {
    border: 1px solid #5b4010;
    ;
}

footer {
    width: 100%;
    border-bottom: 10px solid #b8a075;
}

.Social_media {
    padding: 25px 15px 15px 15px;
}

.s_m_fb_border {

    border-right: 1px solid silver;

}

.S_M_fb i {
    color: #3b5998;
    font-size: 39px;

}

.S_M_fb p {
    color: #c1c1c1;
    padding-top: 4px;
    font-size: 18px;

}

.S_M_fb img {
    vertical-align: middle;
    height: 35px;
    width: 35px;

}

.S_M_fb .special0 {
    color: #FF0000;
}

.ftr_clr {
    background-color: #cfcecc;
    margin-top: 40px;
    padding: 50px 50px 25px 50px;
}



.f_mail {
    background-color: var(--bg-color-2);
    border-radius: 10px;
    width: 258px;
}

.f_m_special1 button {
    background-color: var(--bg-color-3);
}

.f_mail_1 button {

    padding: 8px 9px;
    border-radius: 48%;
    border: none;
}

.f_mail_1_1 {
    color: white;
    font-size: 30px;
}

.f_mail_2 {
    transform: translate(21px, 7px);
    padding: 3px;
}

.f_mail_2 p {
    color: white;
    font-family: initial;
    font-weight: bolder;

}

.F_downld {
    background-color: var(--bg-color-1);
}

.f_d_btn {
    background-color: var(--bg-color-2);
}

.f_logo {
    padding-top: 40px;
}

.f_logo_inside {
    text-align: center;
}

.f_logo_inside img {
    height: 100px;
}

.f_address {
    display: flex;
    justify-content: center;
}

.f_address address {
    white-space: pre;
}

.f_aboutus {
    padding-left: 0px;
    display: flex;
    justify-content: center;
}


.f_aboutus ul a {
    text-decoration: none;
    list-style: none;
    color: var(--font-color-1);
    font-size: 17px;
}

.f_other_details ul a {
    text-decoration: none;
    list-style: none;
    color: var(--font-color-1);
    font-size: 17px;
    text-shadow: 0.3px 0px
}

.f_payment {
    padding-left: 70px;
    padding-bottom: 46px;
}

.f_payment p {
    color: var(--font-color-1);
    font-size: 17px;
    text-shadow: 0.3px 0px;
    transform: translate(3px, 20px);
}

.copy_right {
    border-top: 1px solid var(--bg-color-2);
    color: hsl(18, 11.9%, 32.9%);
    padding-bottom: 1px;
}
.copy_right p {
    letter-spacing: 0.7px;
}

/***************responsive****************/

/* up to 1200px */

@media screen and (max-width:1199px) {
    .nav_heading {
        margin-left: 0px;
    }

    .acustom {
        padding: 0 80px;
    }
}

/* up to 1107px */

@media screen and (max-width: 1107px) {
    .f_payment {
        padding-left: 51px;
        padding-bottom: 101px;
    }

    .F_downld {

        margin-top: 7px;
    }

}

/* up to 1000px */
@media screen and (max-width: 1000px) {
    .abcd_img {
        transform: translateX(-20px);
    }

}

/* up to 992px */
@media screen and (max-width:991px) {
    .f_aboutus ul a {
        font-size: 16px;
    }

    .navbar_list_0 .container-fluid {
        border-bottom: 2px solid var(--bg-color-2);
        margin-top: 7px;
    }

    .nav_horse_logo img {
        z-index: 0;
        top: 59px;
        height: 150px;
    }

    .slider_contain h4,
    .slider_contain p {
        font-size: 16px;
    }

}

/* up to 810px */
@media screen and (max-width: 810px) {
    .abcd_img {
        transform: translateX(-40px);
    }
}

/* up to 767px */
@media screen and (max-width:767px) {

    .nav_horse_logo img {
        top: 91px;
        left: 23px;
    }

    .nav_heading {
        padding-left: 79px;
    }

    .asd {
        padding-left: 72px;
        padding-top: 45px;
    }

    .basd {
        padding-top: 45px;
        padding-left: 75px;
    }

    .d_b_inside p {
        font-size: 17px;
    }

    .d_b_btn {
        padding: 8px 11px;

    }

    .download_brocher .d_b_inside {
        height: 63px;
    }

    .f_other_details {
        margin-left: -19px;
    }
}

/* up to 576px */
@media screen and (max-width: 575px) {

    .nav_search form {
        margin-right: 13px;
    }

    .nav_icon_1 {
        padding: 0px;
    }

    .nav_icon_2 img {
        height: 19px;
    }

    .nav_icon_1 img {
        height: 19px;
    }

    .nav_search_icn img {
        height: 19px;
    }

    .nav_search .nav_search_icn {
        right: -3px;
        top: -8px;
    }

    .nav_search input {
        height: 27px;
        font-size: 15px;
        width: 162px;
    }

    .nav_heading {
        padding-left: 15px;
    }

    .nav_heading h1 {
        font-size: 20px;
    }

    .nav_0 a {
        font-size: 13px;

    }

    .nav_horse_logo img {
        top: 93px;
        left: 3px;
        height: 85px;
    }

    .acustom {
        padding: 0 70px;
    }

    .casd {
        padding-left: 40px;
        padding-top: 45px;
    }

    .basd {

        padding-left: 104px;
    }

    .abcd_img {
        transform: translateX(-70px);
    }

    .horse_bg_h3 {
        color: hsl(0, 0%, 100%);
    }

    .horse_bg p {
        color: hsl(0, 0%, 100%);
    }

    .my_Slider .star {
        font-size: 10px;
        transform: translate(-50%, -157%);
    }

    .slider_contain p {
        font-size: 12px;
        transform: translateY(19px);
    }

    .slider_contain h4 {
        font-size: 12px;
    }

    .my_Slider img {

        height: 200px;
    }

    .slider_button {
        top: 85%;
    }

    .slider_button button {
        height: 10px;
        width: 10px;
        transform: scale(0.8);
    }

    .S_M_fb p {
        font-size: 10px;
    }

    .S_M_fb i {
        font-size: 28px;
    }

    .S_M_fb img {

        height: 26px;
        width: 26px;
    }

    .download_brocher .d_b_inside {
        height: 54px;
        width: 320px;
    }

    .d_b_inside p {
        font-size: 13px;

    }

    .d_b_btn {
        padding: 5px 8px;
    }

    .f_mail_1 button {
        padding: 4px 10px;
    }

    .f_other_details {
        margin-left: -27px;
        justify-content: center;
        display: flex;
    }

    .f_payment {
        text-align: center;
    }

    .footer_mail {

        justify-content: center;
    }

}